

<!-- <p>home page</p>
<p id="para1"></p> -->

<script>
  const Func = () => {
    return 10000;
  };
  // document.getElementById("para1").innerHTML= Func();
</script>

<!-- <button>
  <a href="payment">go to payment page</a>
</button> -->
